link(rel="stylesheet" href="/static/assets/css/register.css")
extends ../layout.pug

block content
  main.container
    h2 Añadir Personal
    form.container__register
      input.input(type="number" placeholder="NIT/CI")
      input.input(type="text" placeholder="Nombre")
      input.input(type="text" placeholder="Apellido")
      input.input(type="email" placeholder="Correo")
      input.input(type="password" placeholder="Contraseña")
      input.input(type="password" placeholder="Repita Contraseña")
    section
      article.list
        h3 Usuarios
        ul.list__content
          li.list__content--item
            a(href="#") Administrar Personal (Cargo)
          li.list__content--item
            a(href="#") Controlar Asistencia
      article.list.list-primary
        h3 Perfil de Seguridad
        ul.list__content
          li.list__content--item
            a(href="#") Administrar Personal (Cargo)
          li.list__content--item
            a(href="#") Controlar Asistencia
    section
      i.fas.fa-cash-register
      i.fas.fa-blender
      i.fas.fa-wine-bottle
      i.fas.fa-beer
      i.fas.fa-concierge-bell
      i.fas.fa-user-check
      i.fas.fa-users
      i.fas.fa-user
      i.fas.fa-people-carry
      i.fas.fa-mug-hot
      i.fas.fa-box
      i.fas.fa-box-open
      i.fas.fa-file-signature
      i.fas.fa-file-contract
      i.fas.fa-shield-alt
      i.fas.fa-user-shield
      i.fas.fa-user-cog
      i.fas.fa-folder-open
      i.fas.fa-folder-plus
      i.fas.fa-cloud-meatball
      i.fas.fa-tasks
      i.fas.fa-sliders-h
      i.fas.fa-file-excel
      i.fas.fa-dice-d6
      i.fas.fa-fist-raised
      i.fas.fa-scroll
      i.fas.fa-receipt
      i.fas.fa-border-all
      i.fas.fa-table
      i.fas.fa-chart-bar
      i.fas.fa-chart-pie
      i.fas.fa-chart-line
      i.fas.fa-chair
      i.fas.fa-hand-holding-usd
      i.fas.fa-utensils
      i.fas.fa-hamburger
      i.fas.fa-cheese
      i.fas.fa-egg
      i.fas.fa-bread-slice
      i.fas.fa-apple-alt
      i.fas.fa-shopping-cart
      i.fas.fa-money-bill-wave
      i.fas.fa-poll
      i.fas.fa-poll-h
      i.fas.fa-feather-alt
      i.fas.fa-upload
      i.fas.fa-circle
